body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  nav {
    background-color: #555;
    padding: 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    background-color: #777;
  }
  
  section {
    padding: 20px;
  }
  
  h2 {
    color: #333;
  }
  
  p {
    line-height: 1.6;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  nav {
    background-color: #555;
    padding: 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    background-color: #777;
  }
  
  section {
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #333;
  }
  
  p {
    line-height: 1.6;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  /* Adiciona um padrão nas imagens */
  section img {
    border: 5px solid #fff; /* Cor branca para o contorno */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Sombra */
    max-width: 50%; /* Garante que a imagem não ultrapasse a largura da seção */
    height: auto; /* Permite que a altura se ajuste automaticamente mantendo a proporção */
  }
 
  .audio-icon {
    font-size: 1.2em;
    margin-left: 5px;
    cursor: pointer;
  }
  